<section id="ccr-main-section">
  <div class="container">


    <section id="ccr-left-section" class="col-md-8">

      <div class="current-page">
        <a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> Liên hệ
      </div> <!-- / .current-page -->

      <section id="ccr-contact-form">
        <form action="#" method="post" id="commentform">
          <input id="author" name="author" type="text" placeholder="Tên" value="" required>
          <input id="email" name="email" type="email" placeholder="Email" value="" required>
          <input id="url" name="url" type="url" placeholder="Website" value="">
          <textarea id="comment" name="comment" placeholder="Tin nhắn" rows="8" required></textarea>
          <input name="submit" type="submit" id="submit" value="Gửi">

        </form> <!-- /#commentform -->

      </section> <!-- /#ccr-contact-form -->



    </section><!-- /.col-md-8 / #ccr-left-section -->



    <section  id="ccr-right-section" class="col-md-4">
      <section id="ccr-contact-sidebar">
        <p>
          <span>Liên hệ</span>
        </p>
        <address>
          <p>
            Address: Km9,Thanh Xuân, Đại học Hà Nội
          </p>
          <p>
            Group 1- 6c11
          </p>
          <p>
            Phone:+880 - 11223344
          </p>
          <p>
            Email: contact@gmail.com
          </p>
        </address>



      </section> <!-- /#ccr-contact-sidebar -->
    </section><!-- / .col-md-4  / #ccr-right-section -->


  </div><!-- /.container -->
</section><!-- / #ccr-main-section -->

<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.com.bd/maps?q=dhaka+on+google+map&amp;ie=UTF8&amp;hq=&amp;gl=bd&amp;ll=23.709921,90.407143&amp;spn=0.734303,1.352692&amp;t=m&amp;z=10&amp;iwloc=A&amp;output=embed">
</iframe>

