<div class="ccr-last-update">
  <div class="update-ribon">Giới thiệu</div> <!-- /.update-ribon -->
  <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
  <div class="update-right-border"></div> <!-- /.update-right-border -->
</div> <!-- / .ccr-last-update -->

</br>
<br>
<p><h3><font color="green">Nhóm 1</font></h3></p><br>
<p><strong><font color="#00008b"> Thành viên nhóm:</font></strong></p><br>
<p>Nguyễn Thị Giang</p><br>
<p>Nguyễn Thị Trang</p><br>
<p>Mai Hoàng Hà</p><br>
<p>Khuất Thị Thu Hằng</p><br>
<p>Nguyễn Minh Sáng</p><br>
<p>Nguyễn Thị Hoàng Yến</p><br><br>
<p><font color="#00008b"><strong>Nội dung của website:</strong></font></p><br>
<p>Nhằm đáp ứng nhu cầu thông tin chính xác nhất của các trường đại học top đầu trên thế giới.
  Website cung cấp thông tin chi tiết về các Trường Đại học đứng đầu trên Thế Giới với 4 khu vực chính: Châu Á, Châu Âu, Châu Mỹ, Châu Úc
  tính đến năm 2014.</p><br>
<p> Bên cạnh đó, các thông tin về học bổng, cơ hội du học luôn được cập nhật đầy đủ và chính xác nhất. Điều đó giúp cho bạn có cái nhìn chi tiết và toàn
  diện về tình hình chung của các trường đại học.
</p><br>
<p>
  Kinh nghiệm du học là một phần không thể thiếu đối với những người muốn đi học. Phần này được chia sẻ bởi các bạn đã từng sống và làm việc
  ở nước ngoài.
</p>
