<div class="ccr-last-update">
  <div class="update-ribon">Tin tức</div> <!-- /.update-ribon -->
  <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
  <div class="update-right-border"></div> <!-- /.update-right-border -->
</div> <!-- / .ccr-last-update -->

<div id="abc">
  </br>
  <p id="title"><%= @news_detail.title %></p>
  </br>
  <i><%= @news_detail.created_at %></i>
  <hr/>
  </br>
  <%= @news_detail.content.html_safe %>
  </hr>
  <p align="right"><b><i><%= @news_detail.credit %></i></b></p>
</div>
