<div class="ccr-last-update">
  <div class="update-ribon">Tin tức</div> <!-- /.update-ribon -->
  <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
  <div class="update-right-border"></div> <!-- /.update-right-border -->
</div> <!-- / .ccr-last-update -->



<%= @news_detail.title %>