<div class="ccr-last-update">
  <div class="update-ribon">Tin tức</div> <!-- /.update-ribon -->
  <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
  <div class="update-right-border"></div> <!-- /.update-right-border -->
</div> <!-- / .ccr-last-update -->


</br>
</br>
<strong><%= @news_detail.title %></strong>
</br>
<strong><%= @news_detail.created_at %></strong>
</hr>
</br>
<%= @news_detail.content.html_safe %>
</hr>
<%= @news_detail.credit %>