
<div class="ccr-last-update">
  <div class="update-ribon">Xếp hạng</div> <!-- /.update-ribon -->
  <span class="update-ribon-right"></span> <!-- /.update-ribon-left -->

  <div class="update-right-border"></div> <!-- /.update-right-border -->

</div> <!-- / .ccr-last-update --><br>
</br>
<p><h3 style="color:green" ><a href="#">Top 100 Trường Đại Học Tốt Nhất Thế Giới</h3></p>

<br>

<div class="article-content">
<p style="text-align: justify;" mce_style="text-align: justify;"><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>Bảng xếp hạng Đại học hàng đầu thế giới danh gia nhất</b> là <b>The Times Higher Education World University Rankings</b> do tạp chí <b>Times Higher Education</b> <i>(Vương Quốc Anh)</i> hợp tác với <b>Thomson Reuters (<i>gọi tắt là bảng xếp hạng THE</i>)</b>. <b>Times Higher Education</b> chỉ xếp hạng 400 <b>Đạị Học hàng đầu thế giới</b>. Đây là một trong những ấn phẩm danh tiếng và là nguồn thông tin đáng tin cậy nhất về <b>giáo dục Đạị Học toàn cầu</b> bao gồm thông tin cập nhật, phân tích và bình luật của các chuyên gia giáo dục nổi tiếng thế giới. Tạp chí này được xuất bản hàng tuần và phát hành rộng khắp thế giới qua ấn phẩm in và điện tử.</span></span></p><p style="text-align: center;" mce_style="text-align: center;"><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><img src="http://newocean.edu.vn/images/stories/Ranking/world-university-rankings-2013-2014.jpg" mce_src="http://newocean.edu.vn/images/stories/Ranking/world-university-rankings-2013-2014.jpg" alt="Top 100 trường Đại học tốt nhất trên thế giới mơ ước theo học" title="Top 100 trường Đại học tốt nhất trên thế giới mơ ước theo học"><br /></span></span></p><p style="text-align: justify;" mce_style="text-align: justify;"><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Hằng năm tạp chí <b>The Times Higher Education</b> tiến hành một dự án nghiên cứu chuyên sau và công bố <b>danh sách 400 trường Đạị Học hàng đầu thế giới </b>– nổi tiếng về chất lượng giảng dạy và nghiên cứu. <a title="Bảng xếp hạng các trường Đạị Học thế giới" mce_href="http://newocean.edu.vn/top-100-truong-dai-hoc-tot-nhat-tren-the-gioi.html" href="http://newocean.edu.vn/top-100-truong-dai-hoc-tot-nhat-tren-the-gioi.html"><b>Bảng xếp hạng các trường Đạị Học thế giới</b></a> của tạp chí <b>Times Higher Education</b> là bảng xếp hạng toàn diện và được kiểm định chặt chẽ nhất. Bảng xếp hạng này dựa trên 13 chỉ số đánh giá, chia làm năm nhóm để đánh giá thế mạnh về các hoạt động cốt lõi của một trường Đạị Học: <i>Giảng dạy – môi trường học tập; Nghiên cứu – bài báo, thu nhập và danh tiếng; Trích dẫn – tầm ảnh hưởng của nghiên cứu với thế giới; Nguồn thu đến từ ngành công nghiệp – phát minh, sáng chế; Tầm ảnh hưởng quốc tế- giảng viên, lượng sinh viên quốc tế học, công bố nghiên cứu.</i></span></span></p><p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">
            </span></span></p><p style="text-align: justify;" mce_style="text-align: justify;"><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Các tiêu chí của <b>THE</b> tập trung vào chất lượng giảng dạy và nghiên cứu của mỗi trường chứ không đánh giá cao yếu tố truyền thống và danh tiếng. Các thông số được <b>Tập đoàn Dữ liệu toàn cầu Thomson Reuters</b> thu thập, phân tích và thẩm định. 50 chuyên gia hàng đầu của 15 quốc gia đến từ tất cả các châu lục cùng đưa ra bảng xếp hạng. Bảng xếp hạng này được coi là tiêu chuẩn vàng về đánh giá danh tiếng và <b>chất lượng của các trường Đại học</b>. <br /></span></span></p><p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">
            </span></span></p><h2 style="text-align: center;" mce_style="text-align: center;"><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: large;" style="font-size: large;"><span mce_style="color: #993366;" style="color: rgb(153, 51, 102);"><b>World University Rankings 2013-2014</b></span></span></span></h2><p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">
            </span></span></p><table style="width: 600px; text-align: justify;" border="1" cellpadding="0">
<thead>
<tr>
  <td width="78">
    <p align="center"><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b><u>Xếp hạng</u></b><b> </b></span></span></p>
  </td>
  <td width="378">
    <p align="center"><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>Tên    trường</b></span></span></p>
  </td>
  <td width="113">
    <p align="center"><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>Quốc    gia</b></span></span></p>
  </td>
  <td width="86">
    <p align="center"><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>Tổng    điểm </b></span></span></p>
  </td>
</tr>
</thead>
<tbody>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>1</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><u>California Institute of   Technology (<i>Caltech</i>)</u></span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">94.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>2</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of Oxford</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">93.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>2</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Harvard University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">93.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>4</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Stanford University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">93.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>5</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Massachusetts   Institute of Technology <i>(MIT)</i></span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">93.0</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>6</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Princeton University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">92.7</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>7</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Cambridge</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">92.3</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>8</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of California, Berkeley</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">89.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>9</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of Chicago</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">87.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>10</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Imperial College   London</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">87.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>11</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Yale University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">87.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>12</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of California, Los Angeles (<i>UCLA</i>)</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">86.3</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>13</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Columbia University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">85.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>14</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">ETH Zürich – Swiss Federal Institute of Technology Zürich</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Switzerland</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">84.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>15</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Johns Hopkins   University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">83.7</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>16</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Pennsylvania</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">81.0</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>17</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Duke University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">79.3</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>18</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Michigan</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">79.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>19</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Cornell University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">79.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>20</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of Toronto</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Canada</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">78.3</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>21</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   College London (<i>UCL</i>)</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">77.6</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>22</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Northwestern   University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">77.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>23</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">The University of   Tokyo</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Japan</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">76.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>24</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Carnegie Mellon   University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">76.0</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>25</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Washington</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">73.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>26</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">National   University of Singapore (<i>NUS)</i></span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Singapore</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">72.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>27</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Texas at Austin</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">72.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>28</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Georgia Institute of Technology (<i>Georgia Tech)</i></span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">71.6</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>29</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of Illinois at Urbana Champaign</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">71.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>30</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of Wisconsin-Madison</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">71.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>31</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   British Columbia</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Canada</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">70.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>32</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">London School of Economics and Political Science (<i>LSE</i>)</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">69.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>33</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of California, Santa Barbara</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">68.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>34</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Melbourne</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Australia</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">68.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>35</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">McGill University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Canada</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">68.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>36</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Karolinska Institute</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Sweden</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">67.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>37</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">École   Polytechnique Fédérale de Lausanne</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Switzerland</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">67.7</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>38</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">King's College London</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">67.6</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>39</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Edinburgh</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">67.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>40</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">New York   University (<i>NYU</i>)</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">67.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>40</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of California, San Diego</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">67.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>42</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Washington   University in St Louis</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">67.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>43</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">The University   of Hong Kong</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Hong Kong</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">65.3</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>44</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Seoul National   University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Republic of Korea</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">65.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>45</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Peking University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">China</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">65.0</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>46</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Minnesota</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">64.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>47</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of North Carolina at Chapel Hill</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">64.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>48</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Australian   National University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Australia</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">64.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>49</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Pennsylvania   State University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">64.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>50</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Boston University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">63.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>50</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Tsinghua University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">China</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">63.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>52</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Brown University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">63.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>52</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Kyoto University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Japan</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">63.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>52</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of California, Davis</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">63.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>55</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Ludwig-Maximilians-Universität   München</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Germany</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">63.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>56</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Korea Advanced Institute of Science and Technology (<i>KAIST</i>)</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Republic of Korea</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">62.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>57</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Hong Kong University of Science and Technology</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Hong Kong</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">62.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>58</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Manchester</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">62.3</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>59</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Ohio State University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">62.0</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>60</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Pohang University of Science and Technology (<i>Postech)</i></span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Republic of Korea</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">61.7</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>61</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">KU Leuven</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Belgium</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">61.3</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>62</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Purdue University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">60.7</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>63</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of Queensland Australia</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Australia</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">59.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>63</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Georg-August-Universität   Göttingen</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Germany</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">59.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>65</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">École Normale   Supérieure</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">France</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">59.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>65</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Rice University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">59.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>67</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Leiden University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Netherlands</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">59.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>68</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Universität   Heidelberg</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Germany</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">59.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>69</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Delft   University of Technology</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Netherlands</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">59.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>70</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of Southern California</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">59.0</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>70</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">École Polytechnique</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">France</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">59.0</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>72</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of Sydney</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Australia</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">58.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>73</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Erasmus   University Rotterdam</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Netherlands</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">58.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>74</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Universität Basel</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Switzerland</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">57.7</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>74</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Utrecht University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Netherlands</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">57.7</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>76</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Nanyang   Technological University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Singapore</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">57.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>77</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Wageningen   University and Research Center</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Netherlands</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">56.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>78</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Pittsburgh</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">56.7</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>79</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of Bristol</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">56.3</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>80</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Durham University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United Kingdom</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">56.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>80</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Emory University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">56.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>80</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Tufts University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">56.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>83</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Amsterdam</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Netherlands</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">55.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>83</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Michigan State   University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">55.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>85</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Ghent University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Belgium</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">55.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>86</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Freie Universität   Berlin</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Germany</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">55.3</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>87</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Technische   Universität München</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Germany</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">55.2</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>88</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Case Western   Reserve University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">55.0</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>88</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Vanderbilt University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">55.0</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>90</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of Notre   Dame</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">54.7</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>91</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Monash University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Australia</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">54.6</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>92</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">McMaster University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Canada</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">54.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>93</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University   of California, Irvine</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">54.1</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>94</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Humboldt-Universität   zu Berlin</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Germany</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">53.8</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>95</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Rochester</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">53.6</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>96</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Université   Pierre et Marie Curie</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">France</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">53.5</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>97</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Colorado Boulder</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">United States</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">53.4</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>98</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Groningen</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Netherlands</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">52.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>98</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Maastricht University</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Netherlands</span></span></p>
  </td>
  <td width="86">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">52.9</span></span></p>
  </td>
</tr>
<tr>
  <td width="78">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;"><b>100</b></span></span></p>
  </td>
  <td width="378">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">University of   Helsinki</span></span></p>
  </td>
  <td width="113">
    <p><span mce_style="font-family: times new roman,times;" style="font-family: times new roman,times;"><span mce_style="font-size: medium;" style="font-size: medium;">Finland</span></span></p>
  </td>
</tr>
</tbody>
</table><br>
<p>Nguồn: New Ocean</p>
</div>